<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.ssm.mapper.SalaryStandardMapper">
    <resultMap type="com.hr.ssm.entity.SalaryStandard" id="BaseResultMap">

        <id jdbcType="INTEGER" property="ssdId" column="ssd_id"/>

        <result jdbcType="VARCHAR" property="standardId" column="standard_id"/>

        <result jdbcType="VARCHAR" property="standardName" column="standard_name"/>

        <result jdbcType="VARCHAR" property="designer" column="designer"/>

        <result jdbcType="VARCHAR" property="register" column="register"/>

        <result jdbcType="VARCHAR" property="checker" column="checker"/>

        <result jdbcType="VARCHAR" property="changer" column="changer"/>

        <result jdbcType="TIMESTAMP" property="registerTime" column="register_time"/>

        <result jdbcType="TIMESTAMP" property="checkTime" column="check_time"/>

        <result jdbcType="TIMESTAMP" property="changeTime" column="change_time"/>

        <result jdbcType="DOUBLE" property="salarySum" column="salary_sum"/>

        <result jdbcType="INTEGER" property="checkStatus" column="check_status"/>

        <result jdbcType="INTEGER" property="changeStatus" column="change_status"/>

        <result jdbcType="VARCHAR" property="checkComment" column="check_comment"/>

        <result jdbcType="VARCHAR" property="remark" column="remark"/>

    </resultMap>
    <sql id="Base_Column_List">ssd_id, standard_id, standard_name, designer, register, checker, changer, register_time,check_time, change_time, salary_sum, check_status, change_status, check_comment,remark </sql>

    <select id="findSalaryStandard" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from salary_standard where  1=1
        <if test="ss.standardId != null">
            <bind name="myStandardId" value="'%'+ss.standardId+'%'"></bind>
           and standard_id LIKE #{myStandardId}
         </if>

        <if test="ss.standardName != null and ss.standardName != '' ">
            and standard_name  = #{ss.standardName}
        </if>
        <if test="ss.registerTime != null and ss.checkTime!=null" >
            <![CDATA[ and register_time >=#{ss.registerTime} and  register_time >=#{ss.checkTime}]]>
        </if>


</select>

    <select id="findSalaryStandardBG" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from salary_standard where  check_status=2
        <if test="ss.standardId != null">
            <bind name="myStandardId" value="'%'+ss.standardId+'%'"></bind>
            and standard_id LIKE #{myStandardId}
        </if>

        <if test="ss.standardName != null and ss.standardName != '' ">
            and standard_name  = #{ss.standardName}
        </if>
        <if test="ss.registerTime != null and ss.checkTime!=null" >
            <![CDATA[ and register_time >=#{ss.registerTime} and  register_time >=#{ss.checkTime}]]>
        </if>


    </select>

</mapper>
