<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        ">

    <!-- spring 核心配置文件 -->
    <context:component-scan base-package="com.hr.ssm.**" />
    <context:component-scan base-package="com.hr.api.**" />

    <!-- jdbc -->
    <context:property-placeholder location="classpath:jdbc.properties" />

    <!-- dataSource -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>

    <!-- session factory -->
    <bean class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:mapper/*.xml" />
        <property name="typeAliasesPackage" value="com.code.project.entity" />
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>


        <!-- 配置分页插件~ -->
        <property name="plugins">
            <array>
                <bean class="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor">
                    <!-- COUNT SQL 解析.可以没有 -->
                    <property name="countSqlParser" ref="countSqlParser"/>
                </bean>
            </array>
        </property>
    </bean>

    <bean id="countSqlParser" class="com.baomidou.mybatisplus.extension.plugins.pagination.optimize.JsqlParserCountOptimize">
        <!-- 设置为 true 可以优化部分 left join 的sql -->
        <property name="optimizeJoin" value="true"/>
    </bean>


    <!-- 扫描接口 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.hr.ssm.mapper"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- 注解式事务 -->
    <tx:annotation-driven />

    <!-- 声明式事务 -->
    <tx:advice id="advice">
        <tx:attributes>
            <tx:method name="save*" />
            <tx:method name="add*" />
            <tx:method name="insert*" />
            <tx:method name="create*" />

            <tx:method name="update*" />
            <tx:method name="modify*" />
            <tx:method name="delete*" />
            <tx:method name="remove*" />

            <tx:method name="*" propagation="SUPPORTS" read-only="true" />
        </tx:attributes>
    </tx:advice>
    
    <!-- aop -->
    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* com.hr.ssm.service.impl.*.*(..))"/>

        <aop:advisor advice-ref="advice" pointcut-ref="pointcut" />
    </aop:config>


    <!-- 导入mvc配置文件~ -->
    <import resource="applicationContext-mvc.xml" />

</beans>