<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       ">

    <!-- mvc 注解驱动.. -->
    <mvc:annotation-driven conversion-service="conversionServiceFactoryBean" />

    <!-- 静态资源过滤 -->
    <mvc:default-servlet-handler/>

    <!-- 接口跨域配置 -->
    <mvc:cors>
        <!-- allowed-methods="*" --> <!-- 表示所有请求都有效 -->
        <mvc:mapping path="/**" allowed-origins="*"
                     allowed-methods="POST, GET, OPTIONS, DELETE, PUT"
                     allowed-headers="Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"
                     allow-credentials="true" />
    </mvc:cors>

    <!-- 日期转换器配置~ 支持 yyyy/MM/dd yyyy-MM-dd 以及时分秒~ -->
    <!--日期转换器-->
    <bean id="conversionServiceFactoryBean"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.hr.api.config.DateInterceptor"></bean>
            </list>
        </property>
    </bean>

</beans>